<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Weather App</title>

       {{!-- header Links --}}
    {{>headerLinks}}
    {{!--  --}}
    
  </head>
  <body>

{{!-- navbar --}}
{{>nav}}
{{!--  --}}

    <!-- main content -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>OOPS !</p>
                    <h1>You Are Currently On A <span class="text-color">{{errorcode}}</span> Page.</h1>
                    <a href="/"><button class="btn btn-primary">Go Back</button></a>
                </div>

                <!-- right div -->
                <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/car6.png" class="img-fluid" alt="image"/>
                        </figure>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- footer -->
{{>footer}}
{{!--  --}}

  </body>
</html>
